.seccion-inicio {
    padding: 70px 8%;
}

.inicio-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.inicio-texto {
    flex: 1;
}
.descripcion-inicio {
    font-size: 18px;
    color: #475569;
    margin-bottom: 30px;
}

.inicio-botones {
    display: flex;
    gap: 20px;
}

.btn-hero-primary {
    background: #2563eb;
    color: white;
}

.btn-hero-secondary {
    border: 2px solid #2563eb;
    color: #2563eb;
}

.imagen-inicio img {
    width: 500px;
}
/* BOTON PRINCIPAL */
.btn-hero-primary {
    padding: 14px 28px;
    border-radius: 30px;
    background: #2563eb; /* azul */
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
}

/* HOVER */
.btn-hero-primary:hover {
    background: #1d4ed8;
    transform: translateY(-2px);
}

/* CLICK */
.btn-hero-primary:active {
    transform: scale(0.95);
}
.btn-hero-secondary {
    padding: 14px 30px;
    border-radius: 50px;
    border: 2px solid #2563eb;
    color: #2563eb;
    font-weight: 600;
    background: transparent;
    transition: 0.3s;
}

.btn-hero-secondary:hover {
    background: linear-gradient(135deg, #2563eb, #60a5fa);
    color: white;
    border: 2px solid transparent;
    transform: translateY(-3px);
}